{
  "filter_paths": "node_modules|test|mock",
  "exclude_informational": false,
  "exclude_low": false,
  "exclude_medium": false,
  "exclude_high": false,
  "solc_remaps": [
    "@fhevm/solidity=node_modules/@fhevm/solidity"
  ],
  "detectors_to_exclude": [],
  "disable_color": false,
  "json": "slither-report.json",
  "sarif": "slither-report.sarif",
  "checklist": true,
  "markdown_root": "security"
}
